.container{
    width: 940px;
    display: flex;
}
textarea{
    margin: 10px 10px;
}
.image{
    background-image: url("./img/Muneco.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
.message-error{
    color: red;
}
@keyframes shake{
    0%{
        transform: translateX(2px);
    }
    25%{
        transform: translateX(-12px);
    }
    50%{
        transform: translateX(2px);
    }
    75%{
        transform: translateX(18px);
    }
}